[Unit]
Description=Run the SocialMediaManager queue worker regularly

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=30s
Persistent=true
Unit=socialmediamanager-worker.service

[Install]
WantedBy=timers.target
